/* ============= STYLING DASHBOARD ============= */
.dash-icon .bi {
    background: #F3F7FD;
    color: #2F82FF;
}

/* ============= STYLING TABLE ============= */
.btn-table {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2F82FF;
    color: white;
    text-decoration: none;
    padding: 7px 20px;
    border-radius: 8px;
}

/* ============= STYLING CREATE LAYOUT ============= */
.form-user-create input {
    height: 40px;
}