/* ============= styling dashboard user ============= */

.bg--airplane {
    height: 50vh;
    background-image: url(../../../assets/bg_airplane_sky.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
}

.bg--home {
    height: 50vh;
    background-image: url(../../../assets/Home.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
}

.intro--user {
    height: 300px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
    display: inline;
    background-image: linear-gradient(transparent 50%,
            #e1fffe 50%,
            #b0f8ff 85%,
            transparent 85%,
            transparent 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

/* ============= styling button booking ============= */

.btn--shop {
    padding: .6em 1.2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    margin-bottom: 1em;
    box-shadow: 0 2px 0 2px #000;
}

.btn--shop:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn--shop:hover {
    background-color: #2F82FF;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn--shop:hover::before {
    transform: skewX(30deg) translate(200%, -50%);
    transition-delay: 0.1s;
}

.btn--shop:active {
    transform: scale(0.9);
}

/* ============= styling chair ============= */

.seat--list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em;
    border: 1px dashed gray;
    border-radius: 8px;
}

/* ============= styling ResultFilter ============= */

.card--result {
    border: 1px solid transparent;
    transition: all .5s ease-in-out;
}

.card--result:hover {
    border: 1px solid #2F82FF;
    box-shadow: 1px 5px 20px -5px #2F82FF;
}

.text--side--price {
    width: 120px;
    height: 56px;
    box-sizing: content-box;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    float: right;
    background: red;
    color: white;
    text-align: center;
}

.text--side--price::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 30px solid white;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.btn--cta {
    width: 140px;
    height: 45px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background: transparent;
    color: #2F82FF;
    font-weight: 700;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    text-decoration: none;
    padding: 10px 20px;
}

.btn--cta::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: #2F82FF;
    z-index: -1;
    transition: all 0.5s;
    border-radius: 0 10px 10px 0;
}

.btn--cta:hover::before {
    width: 100%;
}

.btn--cta:hover {
    color: white;
}

.btn--cta:active:before {
    background: #b9b9b9;
}

/* ============= styling footer user ============= */

.footer--user {
    background: #575A63;
    margin-top: 4em;
    padding: 4em 0;
    color: white;
}

.footer--user a {
    text-decoration: none;
    color: white;
    margin-bottom: 1em;
    position: relative;
    transition: all .5s ease-in;
}

.footer--user a::before {
    content: "";
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    position: absolute;
    background: white;
    transition: all .5s ease-in;
}

.footer--user a:hover::before {
    width: 10%;
}