.bg--airplane {
    height: 50vh;
    background-image: url(../../../assets/bg_airplane_sky.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2em;
}

.intro--user {
    height: 300px;
    display: flex;
    align-items: center;
}

.title {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.5;
    display: inline;
    background-image: linear-gradient(transparent 50%,
            #e1fffe 50%,
            #b0f8ff 85%,
            transparent 85%,
            transparent 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: animatedBackground 2s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s forwards;
}

@keyframes animatedBackground {
    to {
        background-size: 100% 100%;
    }
}

.btn--shop {
    padding: .6em 1.2em;
    background: none;
    border: 2px solid #fff;
    font-size: 15px;
    color: #131313;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    border-radius: 12px;
    background-color: #ecd448;
    font-weight: bolder;
    margin-bottom: 1em;
    box-shadow: 0 2px 0 2px #000;
}

.btn--shop:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
}

.btn--shop:hover {
    background-color: #2F82FF;
    color: #fff;
    box-shadow: 0 2px 0 2px #0d3b66;
}

.btn--shop:hover::before {
    transform: skewX(30deg) translate(200%, -50%);
    transition-delay: 0.1s;
}

.btn--shop:active {
    transform: scale(0.9);
}

.seat--list {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5em;
    border: 1px dashed gray;
    border-radius: 8px;
}